## Dataset or compressed files ##
# zip files #
*.zip
*.zip.*

*.rar
*.tar

# No incluir los modelos exportados#
*.json
*.hdf5
*.h5
#A menos que sean -final.h5
!*-final.h5
!*-final.h5


# potential folders for dataset #
dataset
dataset-preview
dataset-preview-aug
*/dataset/*
*/dataset-hands/*

# tmp files #
*.tmp

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
 *.ps
 *.eps
 *.pdf
## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz
